#viewlet-cookiepolicy {
    position: fixed;
    bottom: auto;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    margin: 0 auto;
    padding: 10px;
    background-color: #4C4C4C;
    z-index: 9999;
}
#viewlet-cookiepolicy a {
    color: #ABCEE8 !important;
    font-weight: bold;
}
#viewlet-cookiepolicy-wrapper {
    margin: 0 auto;
    width: 1400px;
    max-width: 100%;
    
}
#tlspu_cookiepolicy_title {
    padding: 0px;
    font-size: 18px;
    font-weight: normal;
    color: #fff;
    text-align: center;
    padding: 0px;
    margin: 0px;
    text-align: left;
}
#tlspu_cookiepolicy_message, #tlspu_cookiepolicy_form {
    font-size: 12px;
    line-height: 1.5;
    font-weight: normal;
    color: #fff;
    padding: 0px;
    margin: 0px;
}
#tlspu_cookiepolicy_form {
    padding: 8px 0 8px 0;
    text-align: left;
    color: #ABCEE8 !important;
}
#tlspu_cookiepolicy_button {
    padding: 4px;
    margin-left: 16px;
    
}